@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Tickets</h2>

@Html.ActionLink("New Ticket", "Create", "Tickets", new { @class = "btn btn-primary btn-spaced" })

<table id="tickets" class="table table-bordered table-hover">
    <thead>
        <tr>
            <th>Subject</th>
            <th>Time Opened</th>
            <th>Ticket Status</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>

    </tbody>
</table>

@section scripts
{
    <script>
        $(document).ready(function () {
            var table = $("#tickets").DataTable({
                ajax:
                {
                    url: "/api/tickets",
                    dataSrc: ""
                },
                columns:
                    [
                        {
                            data: "subject",
                            render: function (data, type, ticket) {
                                return "<a href='/tickets/edit/" + ticket.id + "'>" + ticket.subject + "</a>";
                            }
                        },
                        {
                            data: "timeOpened",
                            render: function (data) {
                                var date = new Date(data);
                                var month = date.getMonth() + 1;
                                return (month.toString().length > 1 ? month : "0" + month) + "/" + date.getDate() + "/" + date.getFullYear() + "  " + date.getHours() + ":" + date.getMinutes() + ":" + date.getSeconds();
                            }
                        },
                        {
                            data: "status.name"
                        },
                        {
                            data: "id",
                            render: function (data) {
                                return "<button class='btn-link js-delete' data-ticket-id=" + data + ">Delete</button>"
                            }
                        }
                    ]
            });

            $("#tickets").on("click", ".js-delete", function () {
                var button = $(this);
                bootbox.confirm("Are you sure you want to delete this ticket?", function (result) {
                    if (result) {
                        $.ajax({
                            url: "/api/tickets/" + button.attr("data-ticket-id"),
                            method: "DELETE",
                            success: function () {
                                table.row(button.parents("tr")).remove().draw();
                            }
                        });
                    }
                });
            });
        });
    </script>
}
